body {
    background-image: url("../images/test.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-size: 2.4em;
    font-family: sans-serif;
    text-decoration: underline;
}
#info{
    background: rgba(0, 0, 0, 0.9);
    color: white;
    min-height: 100%;
    position: absolute;
    width: 300px;
    left:200px;
    top: 0;
    border: 5px solid black;
    border-radius: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.5em;
}

label{
    font-size: 2em;
    text-align: left;
}
input[type="submit"]{
    width:100%;
    font-size: 2.5em;
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 50px;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: lightgreen;
}

@media only screen and (max-width: 1600px) {
    #info {
        background-color: black;
        opacity: 1;
        left: 0px;
    }
}

@media only screen and (max-width: 1210px) {
    #info {
        margin: auto;
        width: 600px;
        border: 3px solid #73AD21;
        padding: 10px;
        position:inherit; 
    }
}